<%= form_with(model: @customer, local: true)  do |form| %>

<p>
	<%= form.label :firstname %>
	<%= form.text_field :firstname %>
</p>

<p>
	<%= form.label :lastname %>
	<%= form.text_field :lastname %>
</p>

<p>
	<%= form.label :email %>
	<%= form.text_field :email %>
</p>



<p>
	<%= form.submit %>
</p>

<% end %>